    <head>
      <meta charset='utf-8'>
      <title>Help page </title>
    </head>
      <h1>{{pageTitle}}<h1>
          <a href='/get'> About</a>
          <a href='/'> Home</a>
          <a href='/project'> Project</a>
