<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Help page </title>
</head>
<body>
  <a href='/get' > About</a>
  <a href='/bad' > Bad</a>
  {{> header}}
  <p>{{message}}</p>
  <p>{{getCurrentHelper}}</p>
  <p>{{screamIt message}} <p>
</body>
{{> footer}}
</html>
